# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.env/
.venv/

# PyCharm settings
.idea/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs and temporary files
*.log
*.tmp

# OS-specific
.DS_Store
Thumbs.db

# vosk model
*.zip
model-ja/
model-small-ja/

# deprecated
/live_tran_1.py
/live_tran_vosk.py
